<div *ngIf="current">
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">{{current.city}}, {{current.country}} </div>
    <div class="right mat-subheading-2 no-margin" fxFlex>{{current.date | date:'EEEE MMM d'}}{{getOrdinal(current.date)}}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="55%">
      <img style="zoom: 175%" [src]='current.image'>
    </div>
    <div fxFlex class="right no-margin">
      <p class="mat-display-3">{{current.temperature | number:'1.0-0'}}
        <span class="mat-display-1 unit">°C</span>
      </p>
    </div>
  </div>
  <div class="mat-caption" fxLayoutAlign="center">
    {{current.description}}
  </div>
</div>
